### SQL End to End Oparations...

## Data base

### Database is collection of data in format that can be easily accessed (Digital) 
### A software application used to manage our DB is called DBMS (Database Management system)

### Description
SQL is a special-purpose programming language designed for managing data in a relational database, 
and is used by a huge number of apps and organizations.

 In this course you'll learn the core concepts of the SQL programming language.
 You'll learn how to use SQL to store, query, and manipulate data. 
Learn how to request data from a server, limit and sort the responses, 
aggregate data from multiple tables with joins, and edit and delete data. 

We'll then show you the basics of creating tables and selecting data in various different ways.  
You'll learn important concepts associated with relational databases. 
You will run SQL commands to create database tables and define data element types..

 By the end of this course you should have a good understanding of the SQL programming language. 

Who this course is for:
Anyone interested in learning SQL and Databases

# Create Table

#### The CREAT TABLE statemet is used to creat a new in a database
.

### Syntax :-
             CREATE TABLE table_name
             (
                 column_name1 datatype contraint,
                 column_name2 datatype contraint,
                 column_name3 datatype contraint,
);

### Example :- 
              CREATE TABLE customer
              (
              "ID" int8 PRIMARY KEY,
              "NAME" varchar(50) NOT NULL,
              "Age" int NOT NULL,
              "city" char(50),
              "salary" numeric,
              );