### SQL End to End Oparations...

## Data base

### Database is collection of data in format that can be easily accessed (Digital) 
### A software application used to manage our DB is called DBMS (Database Management system)

### Description
SQL is a special-purpose programming language designed for managing data in a relational database, 
and is used by a huge number of apps and organizations.

 In this course you'll learn the core concepts of the SQL programming language.
 You'll learn how to use SQL to store, query, and manipulate data. 
Learn how to request data from a server, limit and sort the responses, 
aggregate data from multiple tables with joins, and edit and delete data. 

We'll then show you the basics of creating tables and selecting data in various different ways.  
You'll learn important concepts associated with relational databases. 
You will run SQL commands to create database tables and define data element types..

 By the end of this course you should have a good understanding of the SQL programming language. 

Who this course is for:
Anyone interested in learning SQL and Databases

# SQL :-

### SQL is the language to communicate with database.
### SQL cammnds help you to store, process , analyze and manupulate datbase

In [1]:
# SQL commands Structure

SELECT column 1,column 2...
FROMtable_name
WHERE condition 1,condition 2...
GROUP BY column 1,condition 2...
HAVING ondition 1,column 2...

SyntaxError: invalid syntax (80991881.py, line 3)

In [ ]:
SELECT column 1,column 2...
FROMtable_name
WHERE condition 1,condition 2...
GROUP BY column 1,condition 2...
HAVING ondition 1,column 2...

In [2]:
show databases;
 use sys;
show tables;
select * from metrics;
describe metrics;
create database sql_intro;
show databases;

create table emp_details (Name	varchar(25), Age int, Sex char(1),
doj date, city varchar(15),salary float);

describe emp_details;

insert into emp_details
values("jimmy", 35, "M", "2005-05-30", "chicago", 70000),  
("Shane", 30, "M", "1999-06-25", "Seattle", 55000),
("Marry", 28, "F","2009-03-10", "Boston", 62000),
("Dwayne", 37, "M",  "2011-07-12","Austin", 57000),
("Sara", 32,"F", "2017-10-27", "new york", 72000),
("Ammy", 35, "F", "2014-12-20", "seattle", 80000);


insert into emp_details 
values("dipak yashvant jagadale ", 90, "M" , "2023-12-18", "mumbai", "120000");


select * from emp_details;

select distinct city from emp_details;

select count(name) as count_name from emp_details;


select avg(salary) from emp_details;

select Name, Age, city  from emp_details;

select * from emp_details where age >30;

select  name, sex,city from emp_details where sex = "F" ;

SyntaxError: invalid syntax (304427412.py, line 1)

# Create Table

#### The CREAT TABLE statemet is used to creat a new in a database
.

### Syntax :-
             CREATE TABLE table_name
             (
                 column_name1 datatype contraint,
                 column_name2 datatype contraint,
                 column_name3 datatype contraint,
);

### Example :- 
              CREATE TABLE customer
              (
              "ID" int8 PRIMARY KEY,
              "NAME" varchar(50) NOT NULL,
              "Age" int NOT NULL,
              "city" char(50),
              "salary" numeric,
              );