# Python

### Basic code

In [1]:
print("Hello world")

Hello world

In [4]:
print(6)
print(9.6)
print (5+4j)

6
9.6
(5+4j)

In [7]:
print("india","Dipak","Maharashtra","Shivaji","jannat")
print("india","Dipak","Maharashtra","Shivaji","jannat",sep= '/')
print("india","Dipak","Maharashtra","Shivaji","jannat", sep = '-')

india Dipak Maharashtra Shivaji jannat
india/Dipak/Maharashtra/Shivaji/jannat
india-Dipak-Maharashtra-Shivaji-jannat

In [13]:
print("Hello",end =' ')
print("world")

Hello world

### Data Types in Python

1] Basic Types - (Intger,Float,Complex,Boolean,String)

2]container type -(List,Tuple,Set & Dictonary)

3]Use-difined Types - Class

In [26]:
# integer

print(4)
print(50000000000000000000000000000000000000000000000)
print(1e309)
print(1e308)

4
50000000000000000000000000000000000000000000000
inf
1e+308

In [28]:
#float
print(4.5)
print(1.7e308)

4.5
1.7e+308

In [30]:
#Boolean
print(True)
print(False)

True
False

In [35]:
#complex
print(4+5j)
print(0+9j)
print(11+0j)
print(0+0j)

(4+5j)
9j
(11+0j)
0j

In [38]:
#string
print("Kolkata")
print("""Kolkata""")
print('kolkata')

Kolkata
Kolkata
kolkata

In [40]:
#tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [42]:
#dict
print({"Name:Dipak","Age:32","phone:8600261039","Gender:Male"})

{'phone:8600261039', 'Name:Dipak', 'Gender:Male', 'Age:32'}

#### comment

In [43]:
# this is comment