x="10"
y="20"

_x="40"

_x_1= "15"

In [1]:
x='Dipak'
y="jagadale"

print(x)
print(y)

Dipak
jagadale

In [2]:
first_name='Dipak'
second_name="Jagadale"

print(first_name)
print(second_name)

Dipak
Jagadale

In [3]:
import keyword

keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']



10    :-  Integer
10.20  :- Float
3+4j   :- Complex number
True  / False  :- (1/0) :- Boolean
"Hello this is python"   :  String

###  Data type of variable is the tpye of value inside the variable
 
    
x=10
x=10.20
x=3+4j
x=true
x="Hello this is python"

    
 ### pyrhon automatically identify the type of variable

In [4]:
x=10  #Decleration

print("value of x:")
print(x)
print("Type of x: ")
print(type(x))

print("\n")  #newline

y=10.20
print("value of y:")
print(y)
print("Type of y: ")
print(type(y))

print("\n") 

comp=3+4j
print("value of comp: ")
print(comp)
print("Type of comp: ")
print(type(comp))

print("\n") 

b= True
print("value of b: ")
print(b)
print("Type of b: ")
print(type(b))

print("\n") 

str1="Hello this is python"
print("value of comp: ")
print(str1)
print("Type of comp: ")
print(type(str1))

value of x:
10
Type of x:
<class 'int'>


value of y:
10.2
Type of y:
<class 'float'>


value of comp:
(3+4j)
Type of comp:
<class 'complex'>


value of b:
True
Type of b:
<class 'bool'>


value of comp:
Hello this is python
Type of comp:
<class 'str'>

### Typecasting 

### " Conversion of data from one type to anather type"

In [5]:
val= 100
print(val)
print(type(val))

val_f=float(val)
print(val_f)
print(type (val_f))

100
<class 'int'>
100.0
<class 'float'>

In [6]:
print("float to int typcasting")
val1=900
print(val1)
print(type(val1))

val1_i = float(val1)
print(val1_i)
print(type(val1_i))

float to int typcasting
900
<class 'int'>
900.0
<class 'float'>

In [7]:
###  only string in which floting value cannot convert direct to integer so convert float then integer

str2 = "500.20"
print(str2)
print(type(str2))

#int(str2)

str2_i = float(str2)
print(str2_i)
print(type(str2_i))

500.20
<class 'str'>
500.2
<class 'float'>

### str to int , str to float, str to compex ,int to str,int to float,int to complex, float to str,float int,float to int,float to complex,complext  to str

In [8]:
#str to int
x = "999"
print(x)
print(type(x))
 
var=(float(x))
print(var)
print (type(var))

# str to float
y = "551"
print(y)
print(type(y))

var1 = complex(y)
print(var1)
print(type(var1))


#int to str 
x = 1000
print(x)
print(type(x))

var2 = str(x)
print(var2)
print(type(var2))

#int to float to to str
p = 4444
print(p)
print(type(p))

print("this is value of  ",(p))
print("this is value of  ",type(p))

999
<class 'str'>
999.0
<class 'float'>
551
<class 'str'>
(551+0j)
<class 'complex'>
1000
<class 'int'>
1000
<class 'str'>
4444
<class 'int'>
this is value of   4444
this is value of   <class 'int'>

### PRACTICE

string ti int

str1 = "999"
print(str1)

In [9]:
#string to integer

str1 = "999"

print(str1)
print(type(str1))

int(str1)

999
<class 'str'>

999

In [10]:
comp = complex(4,6)
print(comp)
print("the real part:")
print(comp. real)

print("the imaginary part:")
print(comp.imag)

(4+6j)
the real part:
4.0
the imaginary part:
6.0

In [11]:
c = complex(10)
print(c)

(10+0j)

In [12]:
# create a complex number using string

str1 = "10"
str2 = "20"

c = complex (str2)
print(c)

print("\n creat a complex number using complte string")

str3 ="3+4j"
print(str3)
print(type(str3))
c1 = complex(str3)
print(c1)
print(type(c1))
print(c1.real)
print(c1.imag)

(20+0j)

 creat a complex number using complte string
3+4j
<class 'str'>
(3+4j)
<class 'complex'>
3.0
4.0

#Bool

1.true
2.false

In [13]:
x = True
x = False

print(x)

False

In [14]:
print(int(True))

1

In [15]:
print(float(False))

0.0

In [16]:
print(float(True))

1.0

In [17]:
print(complex(True))

(1+0j)

In [18]:
print(complex(False))

0j

In [19]:
c9 = 0+0j
print(c9)

0j

In [20]:
x = 1.2
print(x)
print(type(x))
var= bool(x)
print(var)
print(type(var))

x1 = bool(0)
print(x1)
print(type(x1))

1.2
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>

# conversion from string to bool

In [21]:
str1 = "0"
str2=""

x=bool(str1)
print(x)
print(type(x))

True
<class 'bool'>

In [22]:
x= 0+1j
b = bool(x)
print(b)

True

### immutability

#

In [23]:
var = 100
var1= var

print(id(var))
print("and \n",id(var1))

print(var is var1)

var = 200.10
var1 = 200.10
var2 = 200.10

print(id(var))
print("and \n", id(var))

print(id(var))
 
print(var is var1)

140726842687368
and
 140726842687368
True
1558888710544
and
 1558888710544
1558888710544
False

In [24]:
#byte can hold the value from o to 256
#you can change the value of bytes once it is created
#bytes is immtable


b=bytes([10,22,34,56,74,255])

print(b)
 
print(type(b))
for i in b:
    print(i)
print(b[5])

print("val of b[5]",b[5])

b[0] = 15

b'\n\x16"8J\xff'
<class 'bytes'>
10
22
34
56
74
255
255
val of b[5] 255

TypeError: 'bytes' object does not support item assignment

In [ ]:
b = bytes ([99,33,44,88,99,66,255])

print (b)

print(type(b))
      
for i in b:
    print(i)
#how to access    
print("val of b[5]",b[5])
 
    
    
    #try to mopdify
    
b[1] = 19

In [ ]:
v = bytes([99,111,22,222,44,66,65])

print(v)
print(type(v))

for i in v:
    print(i)
    
print("val of v[3]",v[3])

#how to modify
v[4] = 81

In [ ]:
#bytearray


ba = bytearray([22,33,44,55,66,77])

print(ba)
print(type(ba))

for i in ba:
    print(i)
    
print("\n", ba[0])

ba[3] = 99

print(ba[3])

print("\n")
for i in ba:
    print(i)

### list

In [26]:
p_b = [11,22,334,44,66,55,77]

In [25]:
import keyword

keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']